# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode7.3
xcode_sdk: iphonesimulator9.3
# cache: cocoapods
#podfile: Example/Podfile
before_install:
 - gem install cocoapods # Since Travis is not always on latest version
 - pod install --project-directory=Example
script:
- xctool test -workspace Example/RxSegue.xcworkspace -scheme RxSegue-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
#- pod lib lint
